f_imprenta ='Pathway Gothic One', sans-serif;
f_cusrsiva = 'Great Vibes', cursive;
segundo_color = #F7727A
aside.lateral_menu
	width 280px
	margin 0px 10px
	.bloque
		border 1px solid #f4f4f4
		border-left none
		border-right none
		h3
			margin 10px 0
			font-family f_imprenta
			font-weight 400
			text-transform uppercase
			text-decoration underline			
		ul
			margin 5px 0
			list-style none
			padding 0
			li
				width 130px
				display inline-block
				a
					font-family f_imprenta
					display inline-block
					width 100%
body
	font-size 16px
	font-family: 'Open Sans', sans-serif;
	a
		color #111
		text-decoration none
		&:hover
			text-decoration underline
	button
		border-radius 5px
		font-family f_imprenta
		outline none
		padding 5px 10px
		background: rgba(255,255,255,1);
		background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
		background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(47%, rgba(246,246,246,1)), color-stop(100%, rgba(237,237,237,1)));
		background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
		background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
		background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
		background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
		&.naranja
			color: #fef4e9;
			border: solid 1px #da7c0c;
			background: #f78d1d;
			background: -webkit-gradient(linear, left top, left bottom, from(#faa51a), to(#f47a20));
			background: -moz-linear-gradient(top, #faa51a, #f47a20);			
			&:hover
				background: #f47c20;
				background: -webkit-gradient(linear, left top, left bottom, from(#f88e11), to(#f06015));
				background: -moz-linear-gradient(top, #f88e11, #f06015);			
			&:active
				color: #fcd3a5;
				background: -webkit-gradient(linear, left top, left bottom, from(#f47a20), to(#faa51a));
				background: -moz-linear-gradient(top, #f47a20, #faa51a);			
		&.verde
			border solid 1px #538312
			background -webkit-gradient(linear, left top, left bottom, from(#7db72f), to(#4e7d0e))
			background -moz-linear-gradient(top, #7db72f, #4e7d0e);
	.contenedor
		max-width 1200px
		margin 0 auto
	.col2
		width 49%
		margin 0 10px
	.col3
		width 32%
		margin 0 10px
	.col4
		width 24%
		margin 0 10px
	img
		width 100%
	.subtitulo
		font-family: 'Playfair Display', serif;
		text-transform uppercase
		text-align center
		font-weight normal
	.fondo_negro
		background #333
		color #fff
		a
			color #fff
	.enlinea
		display inline-block
	p
		color #999
		font-size 0.8em
	.fuente_imprenta
		font-family f_imprenta
		letter-spacing 1px
	.left
		float left
	.menu
		padding 0
		margin 0
		li
			list-style none
			display inline-block
	.text_centro
		text-align center
	.right
		float right
	select
		text-transform capitalize
		margin 0 0 15px 0
		border 1px solid #ccc
		border-radius 5px
		background #fff
		padding 5px 8px
		outline none
		&:focus
			box-shadow 0px 0px 10px #87e0fd
	.overflow
		overflow hidden
	.visible
		display block!important
#banner_top_envio
	padding 5px 0
#banner_header
	background url("http://demandware.edgesuite.net/aaff_prd/on/demandware.static/Sites-UGG-US-Site/Sites/default/v1415906840543/ugg/home/F14-NOV-home-oprah-bg.jpg") no-repeat fixed;
	min-height 390px
	width 100%
	background-position center top
	position relative
	background-size cover
	background-attachment fixed
	position relative
	&.no_home
		min-height 170px
	.capa_parallax
		position absolute
		width 100%
		top 100%
		text-align center
		h3
			font-family f_cusrsiva
			font-size 25px
#barra_top
	text-transform uppercase
	background #fff
	border-bottom 1px solid #f4f4f4
	font-size 0.9em
	li
		padding 7px 10px
		border-right 1px solid #f4f4f4
#carro
	overflow hidden
	margin-bottom 40px
	h1
		font-family f_imprenta
		font-weight normal
		text-align center
		font-size 45px
		margin 0
	h3
		font-family Georgia
		font-style italic
		span
			color segundo_color
	.botones
		span
			font-size 0.8em
			a
				color segundo_color
	table
		width 100%
		font-family f_imprenta		
		thead
			border-bottom 3px solid #333
		.lineas
			text-align center
			.img
				width 100px
			.name
				text-align left
			td
				padding 20px 0
		tr
			border-bottom 1px solid #333
	
#contenido
	position relative
	padding 30px 0
#catalogo
	padding 20px 0
	.productos
		.producto
			border 1px solid #fff
			margin 0 0 30px 0
			&:hover
				border 1px solid #f4f4f4
				.icono
					display block
			.icono
				display none
				top 10px
				font-size 20px
				right 10px
				position absolute
footer
	color #fff
	background #111
	font-family f_imprenta
	padding 30px 0 0 0
	a
		color #fff
	#bloques_footer
		overflow hidden
		margin 0 0 10px
		>div
			width 200px
			float left
			margin-right 50px
			h3
				border-bottom 1px solid #333
				margin 0 0 5px
				padding 0 0 10px
			ul
				margin 0
				padding 0
				li
					list-style none
					margin 5px 0
	.redes_sociales
		padding 10px 0
		text-align center
		a
			margin 0 10px
			font-size 25px
#footer_bottom
	border-top 1px solid #333
	padding 10px 0
#linea_addcart
	position fixed
	z-index 2
	right 20px
	padding 5px 40px
	text-align center
	background #fff
	box-shadow 0px 10px 15px rgba(0,0,0,0.5)
	display none
	img
		width 100px
	h4
		font-family f_imprenta
		font-size 18px
		text-transform uppercase
		margin 0
		font-weight normal
	p
		margin 0
#menu_principal
	border-bottom 1px solid #F4F4F4
	height 74px
	background #fff
	position relative
	&.fijo
		position fixed
		width 100%
		z-index 1
		top 0
		box-shadow 0px 0px 8px 0px rgba(0,0,0,0.4)
	.carrito-icon
		a
			padding 30px 20px 26px
			display inline-block
	.logo
		padding 8px 3px
		margin-right 20px
		.img_logo
			width 50px
			overflow hidden
			img
				width 120px
		h1
			margin 0
			font-family f_cusrsiva
			font-size 2.2em
			font-weight normal
			padding 11px 5px 0px
	ul
		text-transform uppercase
		margin-left 20px
		li
			a
				padding 30px 20px 26px
				display inline-block
#medios_estamos
	overflow hidden
	h2
		font-size 2em
	.hastag
		font-family f_imprenta
		color #fff
		background #111
		display block
		margin 0 auto
		width 100px
		text-align center
		padding 5px 0
	.bloque
		width 300px
		float left
		h4
			font-family f_imprenta
			text-transform uppercase
			margin 5px 0
		p
			margin 0 10px 0 0
#mini_carrito
	.number
		background #111
		color #fff
		padding 1px 6px
		border-radius 12px
		margin-left 2px
.producto
	width 294px
	text-transform uppercase
	text-align center
	display inline-block
	position relative
	&:hover
		.estrellas
			opacity 1			
	figure
		padding 15px
	.nombre_producto
		font-size 1.1em
		font-family f_imprenta
		.nombre
			font-weight bold
	.precios
		.old_precio
			font-size 0.7em
			text-decoration line-through
		.precio
			font-weight bold
			&.en_oferta
				color #F7727A
	.estrellas
		opacity 0
#producto_single
	overflow hidden
	margin 0
	.conte_galerias
		width 60%
		float left
		overflow hidden
		.imagenes_grandes
			width 620px
			float right
			margin-right 20px			
		.thum_gale
			width 70px
			float left
	.conte_datos
		width 38%
		float left
	.color_selection
		border-top 1px solid #f4f4f4
		padding 10px 0
		.color
			font-style italic
		.colores
			a
				display inline-block
				width 90px
	.descripcion
		border-top 1px solid #f4f4f4
		padding 10px 0
		p
			margin 0
			font-size 13px
			font-style italic
	.formulario_producto
		padding 10px
		background #f1f1f1
		text-align center
		>div
			margin 10px
		input,select,button
			width 200px
			font-size 14px
			font-family f_imprenta
			letter-spacing 1px
		.no_seleccionado
			box-shadow 0px 0px 8px red
		.addcart
			background #729331
			color #fff
			font-size 18px
			border-radius 8px
			padding 10px 0
			font-weight bold
			border-bottom 3px solid #557423
			border-top 1px solid #557423
			border-right 1px solid #557423
			border-left 1px solid #557423
			outline none
	h1
		font-size 26px
		font-family f_imprenta
		text-transform uppercase
		font-weight normal
		margin 5px 0
		.marca
			font-weight normal
	.genero
		text-transform uppercase
		font-size 14px
		font-weight bold
		font-family f_imprenta
	label
		font-weight normal
		text-transform uppercase
		font-size 16px
		font-family f_imprenta
	.precios_single
		font-size 30px
		.variacion
			display none
		.old_precio
			font-size 13px
			text-decoration line-through
		>div
			font-weight bold
			display inline-block
	.reviews
		padding 10px 0
		border-top 1px solid #f4f4f4
		>div
			display inline-block
		.estrellas
			margin-right 10px
	.detalles_producto
		width 75%
		float left
		font-size 12px
		.product-description
			margin 0 20px
		h2
			font-size 20px
			text-transform uppercase
			font-family f_imprenta			
	.productos_relacionas
		width 20%
		float left
		padding 20px 
		text-align center
		border-left 1px solid #f4f4f4
		a
			color #333
		h3
			font italic 14px Georgia, "Times New Roman", serif
			color #777
		.producto
			width 100%
			.icono
				display none
.slider
	overflow hidden
	margin-bottom 40px
	.titulo_slider
		width 300px
		text-align center
		>div
			padding 30px
			position relative
			.esquina
				width 10px
				height 10px
				border 1px solid #111
				position absolute
				&.esq_top
					top 0
					border-bottom none
				&.esq_botton
					bottom 0
					border-top none
				&.esq_l
					left 0
					border-right none
				&.esq_r
					right 0
					border-left none
		h2
			font-weight normal
			font-size 20px
			border-bottom 1px solid #ccc
			padding 0 0 10px
			margin 0
			display inline-block
		p
			text-align left
			font-size 0.8em
	.cuerpo_slider
		width 900px
#suscripcion
	background url("https://s3-us-west-2.amazonaws.com/lovizfront/img/bg_suscriptio.jpg") no-repeat fixed;
	background-position center center
	min-height 330px
	position relative
	text-align center
	background-size cover
	background-attachment fixed
	padding 20px
	.capa_parallax
		border 2px solid #fff
		.formu_suscription
			margin 100px 0
			font-size 30px
			h4
				color #000
				font-size 2em
				font-weight normal
				font-family f_cusrsiva
				margin 0
			input
				border none
				padding 10px
				font italic 14px Georgia, "Times New Roman", serif
				width 400px
				font-style italic
				outline none
				float left
			.input_invisible
				width 500px
				margin 0 auto
				background #fff
				overflow hidden
				border 2px solid #111
			.icono
				float right
				line-height 1px
				background #111
				color #fff
				padding 3px 10px
#testimonios
	overflow hidden
	background #f9f9f9
	padding 3em 0
	margin 3em 0 0 0
	h2
		text-transform initial
		font-family f_cusrsiva
		margin 10px 0
		font-size 3em
	p
		width 700px
		margin 20px auto
	.comentario
		width 580px
		float left
		margin 10px
		.imageuser
			width 100px
			display inline-block
			line-height 0px
			border-radius 50px
			img
				border-radius 50px
		.cuerpo_coment
			width 470px
			display inline-block
			margin-right 5px
			h2
				font-family f_imprenta
				font-weight normal
				font-size 1em
				text-transform uppercase
				margin 2px			
			p
				width 100%
				margin 5px 5px 5px 0
			.username
				font-size 0.9em
			.estrellas
				color #FACC2E
/*

plomo=#777

body
	font-size 16px
	color #333;
	font-family: 'PT Sans', sans-serif;
	a
		text-decoration none
	.banner_top
		background #1a1a1a
		color #FCFBF6
		padding 5px
		text-align center
		font-size 14px
	.bold
		font-weight bold
	.clear
		clear both
	.contenedor
		width 1200px
		margin 0 auto
	img
		width 100%
	.menu
		list-style none
		margin 0
		padding 0
		li
			display inline-block	
	p
		color #818181
	.left
		float left
	.right
		float right
	select
		text-transform capitalize
		margin 0 0 15px 0
		border 1px solid #ccc
		border-radius 5px
		background #e8e8e8
		padding 5px 8px
		outline none
		&:focus
			box-shadow 0px 0px 10px #87e0fd
	h1,h2,h3,h4
		padding 0
		margin 0
#catalogos
	padding 0px 0 20px
	text-align center	
	h2
		font-family 'Quantico', sans-serif;
		text-transform uppercase
		font-weight normal
		font-size 30px
		border-bottom 3px solid #333
		padding 0 0 10px
	.producto
		width 32%
		display inline-block
		border 1px solid #fff
		position relative
		margin 20px 0
		color #333
		
		&:hover
			border 1px solid #333
			cursor pointer
			.capa_datos
				display block
				a
					padding 10px
					color #000
				.capa_nombre_producto
					text-transform uppercase
					.nombre
						display block
						font-weight bold
						font-size 20px
					p
						text-transform initial
						margin 10px 20px
						color #fff
				.botones
					padding 10px
					.estrellas
						color #FACC2E
				.add-to-cart
					padding 10px
					button
						border none
						color #fff
						background #000
						padding 10px 10px
						border-radius 5px
						&:hover
							background #fff
							color #000
							font-weight bold
			.datos_productos
				opacity 0
		.capa_datos
			position absolute
			width 96%
			height 96%
			background rgba(0,0,0,0.3)
			top 2%
			left 2%
			display none
		.nombre_producto
			text-transform uppercase
			.estilo
				display none
			.nombre
				font-weight bold
				display block
		.precio_producto 
			div
				display inline-block
			.precio-old
				text-decoration line-through
				font-size 15px
			.precio
				font-size 20px
				font-weight bold
#contenido
	background #fff
	padding 20px 0
	position relative
#comentarios
	margin-bottom 50px
	h3
		font-family: 'Quantico', sans-serif;
		font-weight normal
		text-align center
		text-transform uppercase
		padding 15px
		
	.ancho50
		width 48%
	.comentario
		display inline-block
		margin 20px 0
		a
			color #333
			text-decoration underline
		.titulo_comentario
			font-family 'Quantico', sans-serif;
			font-weight normal
			
		.imageuser
			width 100px
			display inline-block
			border 2px solid #ddd
			border-radius 50px
			line-height 15px
			img
				border-radius 50px
		.cuerpo_coment
			width 70%
			display inline-block
			p
				font-size 14px
				margin 5px 0
		.username
			span
				color #bbb
		.estrellas
			color #FACC2E
				
			
header
	#menu_top
		background rgba(255,255,255,0.75)
		overflow hidden
		text-transform uppercase
		color plomo
		a
			color plomo
		li
			padding 10px 5px
			font-size 14px
	#menu_principal
		background #333
		color #fff
		&.menu_fijo
			position fixed
			background-color rgba(0,0,0,0.8)
			top 0
			z-index 11
			width 100%
		li
			a
				color #fff
				padding 30px 20px
				display inline-block
				text-transform uppercase
			&:hover
				background #fff
				a
					color #333
				.sub-menu
					display block
			.sub-menu
				display none
				left 0
				right 0
				margin 0
				position absolute
				background rgba(255,255,255,0.7)
				z-index 2
				>li
					width 100%
				.menu_bajo
					text-align center
					a
						padding 10px
						color #333
						&:hover
							font-weight bold
		.logo
			padding 10px 20px 0px
			cursor pointer
			font-size 40px
			font-family: 'Great Vibes', cursive;
			margin 10px
			font-weight normal
		.menu
			margin-right 50px			
	#slider_home
		height 500px
		overflow hidden
		width 100%
		.slide
			position absolute
			width 100%
			top 0
			z-index -1
.inicio
	#menu_principal
		position absolute
		background rgba(0,0,0,.5)
		top 130px
		width 100%
		border-bottom 3px solid #fff
		li
			a
				padding 30px 20px

.landing
	position relative
	height 1200px
	.titulo
		font-family: 'Quantico', sans-serif;
		text-transform uppercase
		position absolute
		right 5%
		.sub
			font-size 20px
		.bold
			font-size 40px
			line-height 20px
	.cuadro_titulo
		text-transform uppercase
		background #fff
		position absolute
		z-index 10
		width 300px
		top 400px
		left 40%
		.marco
			margin 10px
			padding 80px 10px
			text-align center
			border 4px solid #333
			span
				text-decoration underline
			.marca
				font-size 30px
				text-decoration none
				font-family: 'Quantico', sans-serif;					
	.producto
		display none
		position absolute
		width 300px
		&.imagen_foto
			.marco
				position relative
				color #fff
				.datos
					position absolute
					text-transform uppercase						
					.nombre
						font-weight bold
					.coleccion
						font-size 12px
					.precio
						font-weight bold
				.negro
					color #333
				.blanco
					color #fff
				.top
					top 5px
				.aling_left
					left 10px
				.aling_right
					right 10px
	.produ1
		left 22%
		width 360px
		display block
	.produ2
		right 25%
		top 125px
		display block
	.produ3
		width 210px
		right 5%
		top 160px
		display block
	.produ4
		top 250px
		left 5%
		display block		
		width 500px
	.produ5
		display block
		top 470px
		left 15%
	.produ6
		width 340px
		top 500px
		right 10%
		display block
	.produ7
		top 620px
		left 36%
		display block
	.produ8
		display block
		left 10%
		top 780px
	.produ9
		top 890px
		right 10%
		display block
		
footer
	overflow hidden
	background #fff
	.footer-inferior
		overflow hidden
		background #333
		padding 5px 0
		a
			color: #fff;
			font-size: 11px;
			text-transform: uppercase;
			font-weight: 600;
			text-shadow: 1px 1px 0 #333;
		.letra1
			color #bbb
			font-size 12px
#producto_single
	overflow hidden
	margin 20px 0
	.conte_galerias
		width 60%
		float left
	.conte_datos
		width 38%
		float left
	.color_selection
		border-top 1px solid #f4f4f4
		padding 10px 0
		.color
			font-style italic
		.colores
			a
				display inline-block
				width 90px
	.descripcion
		border-top 1px solid #f4f4f4
		padding 10px 0
		p
			margin 0
			font-size 13px
	.formulario_producto
		padding 10px
		background #f1f1f1
		text-align center
		>div
			margin 10px
		input,select,button
			width 200px
			font-size 14px
		.addcart
			background #729331
			color #fff
			font-size 18px
			border-radius 8px
			padding 10px 0
			font-weight bold
			border-bottom 3px solid #557423
			border-top 1px solid #557423
			border-right 1px solid #557423
			border-left 1px solid #557423
			outline none
	h1
		font-size 24px
		text-transform uppercase
		.marca
			font-weight normal
	.genero
		text-transform uppercase
		font-size 12px
	label
		font-weight bold
		text-transform uppercase
		font-size 14px
	.precios
		font-size 30px
		.old_precio
			font-size 13px
			text-decoration line-through
		>div
			font-weight bold
			display inline-block
	.reviews
		padding 10px 0
		border-top 1px solid #f4f4f4
		>div
			display inline-block
		.estrellas
			margin-right 10px
	.detalles_producto
		width 75%
		float left
		font-size 14px
		.product-description
			margin 0 20px
		h2
			font-size 20px
			text-transform uppercase				
	.productos_relacionas
		width 20%
		float left
		padding 20px 
		text-align center
		border-left 1px solid #f4f4f4
		a
			color #333
		h3
			font italic 14px Georgia, "Times New Roman", serif
			color #777
		.datos
			text-transform uppercase
			span
				font-weight bold
		.precios
			.precio
				font-size 16px
#subscripcion
	background url("https://s3-us-west-2.amazonaws.com/lovizfront/img/bg_suscriptio.jpg") no-repeat fixed;
	background-position center center
	min-height 330px
	position relative
	text-align center
	background-size cover
	background-attachment fixed
	
	.capa_superior
		background rgba(0,0,0,.3)
		width 100%
		height 100%
		position absolute
		.formu_suscription
			margin 100px 0
			font-size 30px
			h4
				color #fff
				font-weight normal				
				text-transform uppercase
				font-family 'Quantico', sans-serif;
			input
				border none
				padding 5px
				font-family serif
				width 480px
				font-style italic
			button
				font-family 'Quantico', sans-serif;
				text-transform uppercase
				background #333
				color #fff
				font-size 25px
				border none
				padding 4px
		
/*

body,html
	color #333
	font-family 'Raleway', sans-serif;
body
	a
		text-decoration none
		color #333
		&:hover
			text-decoration underline
	button,.login-acceder
		box-shadow rgba(73, 116, 35, 0.129412) 0px 0px 7px inset, rgba(255, 255, 255, 0.247059) 1px 1px 1px inset, rgba(0, 0, 0, 0.2) 1px 1px 5px
		background linear-gradient(rgb(127, 201, 64) 0%, rgb(106, 165, 56) 100%)
		color #fff
		font-size 13px
		font-weight bold
		text-transform uppercase
		padding 15px 30px 15px
		border-radius 4px
		border none
		outline none
		&:hover
			color #87d445
			background: linear-gradient(to bottom,  #5c5a5a 0%,#373636 100%);
	.contenedor
		width 1200px
		margin 0 auto
	.clear
		clear both
	.enlinea
		display inline-block
	h1,h2,h3,h4
		margin 0
		padding 0
	img
		width 100%
	.left
		float left
	.letra1
		color #bbb
	.menu
		padding 0
		margin 0
		li
			display inline-block
			border-right 1px dotted #4d4d4d
	.text-aling-right
		text-align right
	.text-aling-left
		text-align left
	.overlayverde
		background url('//lovizdelcarpio.com/css/img/popup_bg.png')
		width 100%
		height 100%
		position fixed
		display none
		z-index 1
		.back
			position absolute
			width 100%
			height 100%
	.right
		float right
	.nolink
		cursor default
#capaPage
	width 74%
	position absolute
	left 13%
	margin auto
	height 100%
	z-index 1
	.page
		background-color #fff
		margin auto
		height 100%
		.marco_page
			padding 60px
			.cajalogin
				width 48%
			h2.titulo_page
				color #1B1B1B
				font-size 30px
				font-weight normal
				border-bottom 1px solid #ccc
				padding-bottom 10px
				margin-bottom 30px
				text-align left
				span
					color #6E6E6E
#filtros_productos
	.filter-field
		position relative
		.seccion-orientacion
			position absolute
			top -70px
			text-transform initial
			text-align center
			width 160px
			display none
			.cuadro-orientacion
				background #fff
				border-radius 5px
				font-size 13px
				padding 5px
				box-shadow 0px 0px 10px rgba(0,0,0,0.5)
		.title
			width 30%
		.todos-filtros
			position fixed
			bottom 90px
			width 100%
			background #333
			left 0
			color #b8b8b8
			display none
			a
				color #b8b8b8			
			.titulo-opcion
				display inline-block
				width 240px
				color #fff
				border-left 1px solid #b8b8b8
				float left
				padding 20px 0
				background #1C1C1C
			.opcion-valor
				display inline-block
				width 240px
				padding 20px 0
				border-right 1px solid #b8b8b8
				position relative
				&:hover
					background url('//lovizdelcarpio.com/css/img/ruido.png') 0 0 #415136 repeat
				.flecha
					position absolute
					width: 0;
					top 15%
					height: 0;
					border-top: 20px solid transparent;
					border-left: 10px solid #1C1C1C;
					border-bottom: 20px solid transparent;
			.opcion
				text-align center
				font-weight bold
				&.sinada
					border none
.footer-contenido
	background #333
	position absolute
	color #acacac
	bottom 57px
	width 100%
	text-align center
	font-weight bold
	display none
	.conte
		padding 10px
		.option-value
			padding 3px 0
			&:hover
				color #fff
				transition 0s
	.pin-selection
		color ver_claro
		position absolute
		font-size 25px
		height 15px
		bottom 1px
		left 47%
.footer-holder
	box-shadow 6px 6px 16px #333
	background #fff
	position fixed
	width 100%
	bottom 32px
	.filter-field
		text-align left
		float left
		width 20%
		background url('//lovizdelcarpio.com/css/img/greypix.gif')
		background-repeat repeat-y
		padding-top 20px
		height 37px
		text-transform uppercase
		position relative
		cursor pointer
		font-size 14px
		&.selecionado
			background-color ver_claro
		&:hover
			background-color ver_claro
			.gray
				color #333!important
		&.add-to-cart
			font-size 20px
			.title,span
				display inline-block
				position absolute
			.title
				text-align right
				right 10px
			span
				left 10px
		&.titulo_precio
			width 40%!important
			&:hover
				background-color #fff
			h2
				font-size 16px
			.precio
				position absolute
				top 15px
				right 10px
				font-weight bold
				font-size 25px
				display none
				.moneda
					display inline-block					
					color ver_claro
					font-size 13px
				.cantidad_precio,.precio-mostrar
					display inline-block
				.precio-old
					position absolute
					left -55px
					top 5px
					font-size 11px
					.cantidad_precio
						text-decoration line-through
		.olvido
			position absolute
			width 100px
			background-color #fff
			text-transform initial
			left -120px
			top -65px
			text-align center
			padding 5px
			box-shadow 0 0 5px rgba(0,0,0,0.2)
			border-radius 5px
			display none
		.text-over
			display none
			position absolute
			left 10px
			font-size 13px
			font-weight bold
		.selected
			color #1B1B1B
			font-weight 800
			position absolute
			right 25px
			&.gray
				color #999
		.title
			font-weight 800
			position absolute
			left 25px
		.widget-selector
			position absolute
			opacity 0.5
			right 10px
			top 22px
			&.estando
				opacity: 1;
				right: 40%;
				top: -18px;
				font-size: 30px;
				width: 10%;
				z-index 1
				color: #7fc940;
	#type-selection
		.selected
			left 10px
			font-size 24px
			top 14px
#fondo-page
	position fixed
	background url("//lovizdelcarpio.com/css/img/bg.png") repeat-x 50% 50% #dfe2e4
	height 100%
	width 100%
	z-index -1	
header
	background #333
	color #fff
	position fixed
	width 100%
	height 60px
	z-index 2
	a
		color #fff
	.contenedor
		margin-top 10px
	.links-principales
		ul
			li
				border none
				padding 16px 5px
	.logo
		h1
			margin 0
	ul
		padding 0
		margin 0
#inicio
	overflow hidden
	position fixed;
#menu_header
	margin 0 40px
	ul
		li
			padding 15px 0px
			border none
			cursor pointer
			&:hover
				a
					color ver_oscuro
			a
				color #b8b8b8
				text-transform uppercase
				font-size 13px
				font-weight 700
				padding 0 20px
				text-shadow 1px 1px 0px #1B1B1B
				border-right 1px dotted #4d4d4d				
				&:hover
					text-decoration none
				
footer
	z-index 2
	position fixed
	bottom 0px
	background #333
	color #fff
	width 100%
	padding 12px 0 8px 0
	height 13px
	font-size 10px
	.menu
		li
			padding 0 20px
	a
		color: #fff;
		font-size: 11px;
		text-transform: uppercase;
		font-weight: 600;
		text-shadow: 1px 1px 0 #333;
#productos
	margin 0
	padding 0
	a
		text-decoration none
	.producto
		display inline-block
		margin-top 20px
		width 220px
		&:hover
			.producto_name
				h3
					color ver_oscuro
			.img_producto
				img
					transform : scale(1.2);
		.img_producto
			img
				width 152px
				margin 0 auto
				transition: 1s ease;
		.producto_name
			text-transform uppercase
			h3
				color #333
				transition: 1s all;
			h4
				color #888
				font-size 13px
		.producto_precio
			font-weight 800
			color #333
			.moneda
				color ver_oscuro
				font-size 12px
			.old_precio
				text-decoration line-through
				margin 0 5px
				font-size 12px
#producto_single
	.back-tienda
		background-color #fff
		position fixed
		top 40%
		cursor pointer
		left -80px
		&:hover
			left 0px
			background-color #333
			color ver_oscuro
			.grilla-menu
				border-left 1px solid #dfe2e4
		.back-to-text
			width 80px
			float left
			font-size 11px
			font-weight bold
			text-transform uppercase
			padding-top 13px
		.grilla-menu
			float left
			width 50px
			height 50px
			span
				font-size 30px
				line-height 50px
	.formulario_producto
		display none
	.marco_producto
		width 1200px
		margin 80px auto
		display table
		.imagen_principal
			vertical-align middle
			width 600px
		.descripcion
			width 450px
			vertical-align middle
			background #fff
			padding 20px 30px
			position relative
			.cerrar_producto
				width 35px
				height 35px
				background #fff
				position absolute
				top 0
				right -36px
				&:hover
					cursor pointer
					background #333
					span
						color ver_oscuro
				span
					font-size 32px
					color #6E6E6E
		.colores
			ul
				li
					list-style none
					width 100px
					display inline-block
	.secciones_producto
		position absolute
		right 0px
		top 30%
		.caja
			background #fff
			width 50px
			margin-bottom 1px
			font-size 20px
			line-height 45px
			&.flechita
				&:hover
					background #333
					color ver_oscuro
					cursor pointer				
		.info
			font-size 14px
			font-weight bold

section#contenido
	padding-top 60px

#tienda,#producto_single
	text-align center

/*

body,html
	color #333
	font-family 'Raleway', sans-serif;
	overflow: hidden;
	height 100%
body
	a
		text-decoration none
	button,.login-acceder
		box-shadow rgba(73, 116, 35, 0.129412) 0px 0px 7px inset, rgba(255, 255, 255, 0.247059) 1px 1px 1px inset, rgba(0, 0, 0, 0.2) 1px 1px 5px
		background linear-gradient(rgb(127, 201, 64) 0%, rgb(106, 165, 56) 100%)
		color #fff
		font-size 13px
		font-weight bold
		text-transform uppercase
		padding 15px 30px 15px
		border-radius 4px
		border none
		outline none
		&:hover
			color #87d445
			background: linear-gradient(to bottom,  #5c5a5a 0%,#373636 100%);
	:hover
		transition: all .3s;
		-webkit-transition: all .3s;
	.enlinea
		display inline-block
	.contenedor
		width 1200px
		margin 0 auto
	.clear
		clear both
	img
		width 100%
	.invisible
		display none
	.visible
		display block!important
	.left
		float left
	.letra1
		color #bbbbbb
	.text-aling-right
		text-align right
	.text-aling-left
		text-align left
	.right
		float right
	.nolink
		cursor default
	.overlayverde
		background url('//lovizdelcarpio.com/css/img/popup_bg.png')
		width 100%
		height 100%
		position fixed
		display none
		z-index 10000
#contenido
	width 100%
	overflow hidden
	.contefondo
		width 100%
		text-align center
		position absolute
		top 61px
		height 90%
		background url("//lovizdelcarpio.com/css/img/bg.png") repeat-x 50% 50% #dfe2e4
#capaPage
	width 74%
	position absolute
	left 13%
	margin auto
	height 100%
	display none
	z-index 10000
	.page
		background-color #fff
		margin auto
		height 100%
		.marco_page
			padding 60px
			.cajalogin
				width 48%
			h2.titulo_page
				color #1B1B1B
				font-size 30px
				font-weight normal
				border-bottom 1px solid #ccc
				padding-bottom 10px
				margin-bottom 30px
				text-align left
				span
					color #6E6E6E
#cant_productos
	font-size 14px
	text-align left
#carro_info
	font-size 14px
	border-bottom 1px solid #ccc
	margin-bottom 10px
	td
		font-size 16px
		font-weight bold
		text-align right
		padding 4px
	.etiqueta
		width 100px
		font-weight 600
		text-align left
		font-size 14px
	.total
		.etiqueta
			font-size 16px
			font-weight 600
			text-transform uppercase
		td
			font-size 20px
#cuerpo_lineas
	.lineas-carro
		width 100%
		color #1B1B1B
		thead
			font-weight normal
			font-size 10px
			text-transform uppercase
			th
				padding 10px 0
		.linea_carro
			background-color #f2f9ec
			border-bottom 10px solid #fff			
			td
				padding 10px 0
				font-weight bold
				font-size 14px
				text-transform uppercase
			.linea-img
				figure
					width 100px
					padding 0px 20px
			.linea-cantidad
				input
					width 30px
			.linea-accion
				padding 0 10px
				span
					cursor pointer
#logearse,#area_user,#tienda,#inicio
	display none
footer
	background #333
	position fixed
	bottom 0
	width 100%
	font-size 10px
	padding 12px 0 8px 0px
	height 13px
	z-index 10000
	a
		color #fff
		font-size 11px
		text-transform uppercase
		font-weight 600
		text-shadow 1px 1px 0px #333
	.footer
		.menu
			li
				padding 0 20px
.footer-contenido
	background #333
	position absolute
	color #acacac
	bottom 57px
	width 100%
	text-align center
	font-weight bold
	display none
	.conte
		padding 10px
		.option-value
			padding 3px 0
			&:hover
				color #fff
				transition 0s
	.pin-selection
		color ver_claro
		position absolute
		font-size 25px
		height 15px
		bottom 1px
		left 47%
.footer-holder
	box-shadow 6px 6px 16px #333
	background #fff
	position fixed
	width 100%
	bottom 32px
	.filter-field
		text-align left
		float left
		width 20%
		background url('//lovizdelcarpio.com/css/img/greypix.gif')
		background-repeat repeat-y
		padding-top 20px
		height 37px
		text-transform uppercase
		position relative
		cursor pointer
		font-size 14px
		&.selecionado
			background-color ver_claro
		&:hover
			background-color ver_claro
			.gray
				color #333!important
		&.add-to-cart
			font-size 20px
			.title,span
				display inline-block
				position absolute
			.title
				text-align right
				right 10px
			span
				left 10px
		&.titulo_precio
			width 40%!important
			&:hover
				background-color #fff
			h2
				font-size 16px
			.precio
				position absolute
				top 15px
				right 10px
				font-weight bold
				font-size 25px
				display none
				.moneda
					display inline-block					
					color ver_claro
					font-size 13px
				.cantidad_precio,.precio-mostrar
					display inline-block
				.precio-old
					position absolute
					left -55px
					top 5px
					font-size 11px
					.cantidad_precio
						text-decoration line-through
		.olvido
			position absolute
			width 100px
			background-color #fff
			text-transform initial
			left -120px
			top -65px
			text-align center
			padding 5px
			box-shadow 0 0 5px rgba(0,0,0,0.2)
			border-radius 5px
			display none
		.text-over
			display none
			position absolute
			left 10px
			font-size 13px
			font-weight bold
		.selected
			color #1B1B1B
			font-weight 800
			position absolute
			right 25px
			&.gray
				color #999
		.title
			font-weight 800
			position absolute
			left 25px
		.widget-selector
			position absolute
			opacity 0.5
			right 10px
			top 22px
			&.estando
				opacity: 1;
				right: 40%;
				top: -18px;
				font-size: 30px;
				width: 10%;
				z-index 1
				color: #7fc940;
	#type-selection
		.selected
			left 10px
			font-size 24px
			top 14px
h1,h2,h3,h4
	margin 0
	padding 0
header
	background #333
	color #fff
	padding-top 10px
	height 50px
	text-transform uppercase
	a
		color #fff
	.logo
		width 25%
		font-size 15px
		cursor pointer
	.menu-principal
		width 50%
		.menu
			li
				a
					color #b8b8b8
					font-size 13px
					font-weight 700
					padding 0 20px
					text-shadow 1px 1px 0px #1B1B1B
					&:hover
						color ver_oscuro
				&.activo
					a
						color #fff
	.links-principales
		width 24%
		text-align right
		li
			padding 0 10px
			cursor pointer
			&:hover
				color ver_oscuro
			a
				&.activo
					color ver_oscuro				
.menu
	padding 0
	margin 0
	li
		list-style none
		display inline-block
		border-right 1px dotted #4d4d4d
#productos
	margin 0
	padding 0
	.producto
		display inline-block
		margin-top 20px
		width 220px
		&:hover
			.producto_name
				h3
					color ver_oscuro
			.img_producto
				img
					transform : scale(1.2);
		.img_producto
			img
				width 152px
				margin 0 auto
				transition: 1s ease;
		.producto_name
			text-transform uppercase
			h3
				color #333
				transition: 1s all;
			h4
				color #888
				font-size 13px
		.producto_precio
			font-weight 800
			color #333
			.moneda
				color ver_oscuro
				font-size 12px
			.old_precio
				text-decoration line-through
				margin 0 5px
				font-size 12px
#producto_single
	.back-tienda
		background-color #fff
		position fixed
		top 40%
		cursor pointer
		left -80px
		&:hover
			left 0px
			background-color #333
			color ver_oscuro
			.grilla-menu
				border-left 1px solid #dfe2e4
		.back-to-text
			width 80px
			float left
			font-size 11px
			font-weight bold
			text-transform uppercase
			padding-top 13px
		.grilla-menu
			float left
			width 50px
			height 50px
			span
				font-size 30px
				line-height 50px
	.formulario_producto
		display none
	.marco_producto
		width 1200px
		margin 80px auto
		display table
		.imagen_principal
			vertical-align middle
			width 600px
		.descripcion
			width 450px
			vertical-align middle
			background #fff
			padding 20px 30px
			position relative
			.cerrar_producto
				width 35px
				height 35px
				background #fff
				position absolute
				top 0
				right -36px
				&:hover
					cursor pointer
					background #333
					span
						color ver_oscuro
				span
					font-size 32px
					color #6E6E6E
		.colores
			ul
				li
					list-style none
					width 100px
					display inline-block
	.secciones_producto
		position absolute
		right 0px
		top 30%
		.caja
			background #fff
			width 50px
			margin-bottom 1px
			font-size 20px
			line-height 45px
			&.flechita
				&:hover
					background #333
					color ver_oscuro
					cursor pointer				
		.info
			font-size 14px
			font-weight bold
#filtros_productos
	.filter-field
		position relative
		.seccion-orientacion
			position absolute
			top -70px
			text-transform initial
			text-align center
			width 160px
			display none
			.cuadro-orientacion
				background #fff
				border-radius 5px
				font-size 13px
				padding 5px
				box-shadow 0px 0px 10px rgba(0,0,0,0.5)
		.title
			width 30%
		.todos-filtros
			position fixed
			bottom 90px
			width 100%
			background #333
			left 0
			color #b8b8b8
			display none
			a
				color #b8b8b8			
			.titulo-opcion
				display inline-block
				width 240px
				color #fff
				border-left 1px solid #b8b8b8
				float left
				padding 20px 0
				background #1C1C1C
			.opcion-valor
				display inline-block
				width 240px
				padding 20px 0
				border-right 1px solid #b8b8b8
				position relative
				&:hover
					background url('//lovizdelcarpio.com/css/img/ruido.png') 0 0 #415136 repeat
				.flecha
					position absolute
					width: 0;
					top 15%
					height: 0;
					border-top: 20px solid transparent;
					border-left: 10px solid #1C1C1C;
					border-bottom: 20px solid transparent;
			.opcion
				text-align center
				font-weight bold
				&.sinada
					border none
#minilinea
	width: 300px;
	position: fixed;
	background: #fff;
	right: 50px;
	text-align: center;
	box-shadow: 0px 2px 2px rgba(0,0,0,0.5);
	display none
	z-index 1
	figure
		width 80px
		margin 0 auto
	p
		margin 0.6em
