body,html{color:#333;font-family:'Raleway',sans-serif;overflow:hidden;height:100%}
body a{text-decoration:none}
body button,body .login-acceder{box-shadow:rgba(73,116,35,0.129) 0 0 7px inset,rgba(255,255,255,0.247) 1px 1px 1px inset,rgba(0,0,0,0.2) 1px 1px 5px;background:linear-gradient(#7fc940 0%,#6aa538 100%);color:#fff;font-size:13px;font-weight:bold;text-transform:uppercase;padding:15px 30px 15px;border-radius:4px;border:none;outline:none;}
body button:hover,body .login-acceder:hover{color:#87d445;background:linear-gradient(to bottom,#5c5a5a 0%,#373636 100%)}
body :hover{transition:all .3s;-webkit-transition:all .3s}
body .enlinea{display:inline-block}
body .contenedor{width:1200px;margin:0 auto}
body .clear{clear:both}
body img{width:100%}
body .invisible{display:none}
body .visible{display:block !important}
body .left{float:left}
body .letra1{color:#bbb}
body .text-aling-right{text-align:right}
body .text-aling-left{text-align:left}
body .right{float:right}
body .nolink{cursor:default}
body .overlayverde{background:url("http://satorisan.com/website/images/popup_bg.png");width:100%;height:100%;position:fixed;display:none;z-index:10000}
#contenido{width:100%;overflow:hidden;}
#contenido .contefondo{width:100%;text-align:center;position:absolute;top:61px;height:90%;background:url("/css/img/bg.png") repeat-x 50% 50% #dfe2e4}
#capaPage{width:74%;position:absolute;left:13%;margin:auto;height:100%;display:none;z-index:10000;}
#capaPage .page{background-color:#fff;margin:auto;height:100%;}
#capaPage .page .marco_page{padding:60px;}
#capaPage .page .marco_page .cajalogin{width:48%}
#capaPage .page .marco_page h2.titulo_page{color:#1b1b1b;font-size:30px;font-weight:normal;border-bottom:1px solid #ccc;padding-bottom:10px;margin-bottom:30px;text-align:left;}
#capaPage .page .marco_page h2.titulo_page span{color:#6e6e6e}
#cant_productos{font-size:14px;text-align:left}
#carro_info{font-size:14px;border-bottom:1px solid #ccc;margin-bottom:10px;}
#carro_info td{font-size:16px;font-weight:bold;text-align:right;padding:4px}
#carro_info .etiqueta{width:100px;font-weight:600;text-align:left;font-size:14px}
#carro_info .total .etiqueta{font-size:16px;font-weight:600;text-transform:uppercase}
#carro_info .total td{font-size:20px}
#cuerpo_lineas .lineas-carro{width:100%;color:#1b1b1b;}
#cuerpo_lineas .lineas-carro thead{font-weight:normal;font-size:10px;text-transform:uppercase;}
#cuerpo_lineas .lineas-carro thead th{padding:10px 0}
#cuerpo_lineas .lineas-carro .linea_carro{background-color:#f2f9ec;border-bottom:10px solid #fff;}
#cuerpo_lineas .lineas-carro .linea_carro td{padding:10px 0;font-weight:bold;font-size:14px;text-transform:uppercase}
#cuerpo_lineas .lineas-carro .linea_carro .linea-img figure{width:100px;padding:0 20px}
#cuerpo_lineas .lineas-carro .linea_carro .linea-cantidad input{width:30px}
#cuerpo_lineas .lineas-carro .linea_carro .linea-accion{padding:0 10px;}
#cuerpo_lineas .lineas-carro .linea_carro .linea-accion span{cursor:pointer}
#logearse,#area_user,#tienda,#inicio{display:none}
footer{background:#333;position:fixed;bottom:0;width:100%;font-size:10px;padding:12px 0 8px 0;height:13px;z-index:10000;}
footer a{color:#fff;font-size:11px;text-transform:uppercase;font-weight:600;text-shadow:1px 1px 0 #000}
footer .footer .menu li{padding:0 20px}
.footer-contenido{background:#333;position:absolute;color:#acacac;bottom:57px;width:100%;text-align:center;font-weight:bold;display:none;}
.footer-contenido .conte{padding:10px;}
.footer-contenido .conte .option-value{padding:3px 0;}
.footer-contenido .conte .option-value:hover{color:#fff;transition:0s}
.footer-contenido .pin-selection{color:#7fc940;position:absolute;font-size:25px;height:15px;bottom:1px;left:47%}
.footer-holder{box-shadow:6px 6px 16px #333;background:#fff;position:fixed;width:100%;bottom:32px;}
.footer-holder .filter-field{text-align:left;float:left;width:20%;background:url("img/greypix.gif");background-repeat:repeat-y;padding-top:20px;height:37px;text-transform:uppercase;position:relative;cursor:pointer;font-size:14px;}
.footer-holder .filter-field.selecionado{background-color:#7fc940}
.footer-holder .filter-field:hover{background-color:#7fc940;}
.footer-holder .filter-field:hover .gray{color:#333 !important}
.footer-holder .filter-field.add-to-cart{font-size:20px;}
.footer-holder .filter-field.add-to-cart .title,.footer-holder .filter-field.add-to-cart span{display:inline-block;position:absolute}
.footer-holder .filter-field.add-to-cart .title{text-align:right;right:10px}
.footer-holder .filter-field.add-to-cart span{left:10px}
.footer-holder .filter-field.titulo_precio{width:40% !important;}
.footer-holder .filter-field.titulo_precio:hover{background-color:#fff}
.footer-holder .filter-field.titulo_precio h2{font-size:16px}
.footer-holder .filter-field.titulo_precio .precio{position:absolute;top:15px;right:10px;font-weight:bold;font-size:25px;display:none;}
.footer-holder .filter-field.titulo_precio .precio .moneda{display:inline-block;color:#7fc940;font-size:13px}
.footer-holder .filter-field.titulo_precio .precio .cantidad_precio,.footer-holder .filter-field.titulo_precio .precio .precio-mostrar{display:inline-block}
.footer-holder .filter-field.titulo_precio .precio .precio-old{position:absolute;left:-55px;top:5px;font-size:11px;}
.footer-holder .filter-field.titulo_precio .precio .precio-old .cantidad_precio{text-decoration:line-through}
.footer-holder .filter-field .olvido{position:absolute;width:100px;background-color:#fff;text-transform:initial;left:-120px;top:-65px;text-align:center;padding:5px;box-shadow:0 0 5px rgba(0,0,0,0.2);border-radius:5px;display:none}
.footer-holder .filter-field .text-over{display:none;position:absolute;left:10px;font-size:13px;font-weight:bold}
.footer-holder .filter-field .selected{color:#1b1b1b;font-weight:800;position:absolute;right:25px;}
.footer-holder .filter-field .selected.gray{color:#999}
.footer-holder .filter-field .title{font-weight:800;position:absolute;left:25px}
.footer-holder .filter-field .widget-selector{position:absolute;opacity:.5;right:10px;top:22px}
.footer-holder #type-selection .selected{left:10px;font-size:24px;top:14px}
h1,h2,h3,h4{margin:0;padding:0}
header{background:#333;color:#fff;padding-top:10px;height:50px;text-transform:uppercase;}
header a{color:#fff}
header .logo{width:25%;font-size:15px;cursor:pointer}
header .menu-principal{width:50%;}
header .menu-principal .menu li a{color:#b8b8b8;font-size:13px;font-weight:700;padding:0 20px;text-shadow:1px 1px 0 #1b1b1b;}
header .menu-principal .menu li a:hover{color:#6ba63a}
header .menu-principal .menu li.activo a{color:#fff}
header .links-principales{width:24%;text-align:right;}
header .links-principales li{padding:0 10px;cursor:pointer;}
header .links-principales li:hover{color:#6ba63a}
.menu{padding:0;margin:0;}
.menu li{list-style:none;display:inline-block;border-right:1px dotted #4d4d4d}
#productos{margin:0;padding:0;}
#productos .producto{display:inline-block;margin-top:20px;width:220px;}
#productos .producto:hover .producto_name h3{color:#6ba63a}
#productos .producto:hover .img_producto img{transform:scale(1.2)}
#productos .producto .img_producto img{width:152px;margin:0 auto;transition:1s ease}
#productos .producto .producto_name{text-transform:uppercase;}
#productos .producto .producto_name h3{color:#333;transition:1s all}
#productos .producto .producto_name h4{color:#888;font-size:13px}
#productos .producto .producto_precio{font-weight:800;color:#333;}
#productos .producto .producto_precio .moneda{color:#6ba63a;font-size:12px}
#productos .producto .producto_precio .old_precio{text-decoration:line-through;margin:0 5px;font-size:12px}
#producto_single .back-tienda{background-color:#fff;position:fixed;top:40%;cursor:pointer;left:-80px;}
#producto_single .back-tienda:hover{left:0;background-color:#333;color:#6ba63a;}
#producto_single .back-tienda:hover .grilla-menu{border-left:1px solid #dfe2e4}
#producto_single .back-tienda .back-to-text{width:80px;float:left;font-size:11px;font-weight:bold;text-transform:uppercase;padding-top:13px}
#producto_single .back-tienda .grilla-menu{float:left;width:50px;height:50px;}
#producto_single .back-tienda .grilla-menu span{font-size:30px;line-height:50px}
#producto_single .formulario_producto{display:none}
#producto_single .marco_producto{width:1200px;margin:80px auto;display:table;}
#producto_single .marco_producto .imagen_principal{vertical-align:middle;width:600px}
#producto_single .marco_producto .descripcion{width:450px;vertical-align:middle;background:#fff;padding:20px 30px;position:relative;}
#producto_single .marco_producto .descripcion .cerrar_producto{width:35px;height:35px;background:#fff;position:absolute;top:0;right:-36px;}
#producto_single .marco_producto .descripcion .cerrar_producto:hover{cursor:pointer;background:#333;}
#producto_single .marco_producto .descripcion .cerrar_producto:hover span{color:#6ba63a}
#producto_single .marco_producto .descripcion .cerrar_producto span{font-size:32px;color:#6e6e6e}
#producto_single .marco_producto .colores ul li{list-style:none;width:100px;display:inline-block}
#filtros_productos .filter-field{position:relative;}
#filtros_productos .filter-field .seccion-orientacion{position:absolute;top:-70px;text-transform:initial;text-align:center;width:160px;display:none;}
#filtros_productos .filter-field .seccion-orientacion .cuadro-orientacion{background:#fff;border-radius:5px;font-size:13px;padding:5px;box-shadow:0 0 10px rgba(0,0,0,0.5)}
#filtros_productos .filter-field .title{width:30%}
#filtros_productos .filter-field .todos-filtros{position:fixed;bottom:90px;width:100%;background:#333;left:0;color:#b8b8b8;}
#filtros_productos .filter-field .todos-filtros a{color:#b8b8b8}
#filtros_productos .filter-field .todos-filtros .titulo-opcion{display:inline-block}
#filtros_productos .filter-field .todos-filtros .opcion-valor{display:inline-block}
#minilinea{width:300px;position:fixed;background:#fff;right:50px;text-align:center;box-shadow:0 2px 2px rgba(0,0,0,0.5);display:none;z-index:1;}
#minilinea figure{width:80px;margin:0 auto}
#minilinea p{margin:.6em}
#loader-wrapper{text-align:center;}
#loader-wrapper .bag-loader{background:url("/css/img/bg.png") repeat-x 50% 50% #dfe2e4;width:100%;position:absolute;height:100%;top:61px}
#loader-wrapper .titulo{text-transform:uppercase;position:absolute;top:120px;z-index:2;width:100%}
#loader-wrapper{position:fixed;top:61px;left:0;width:100%;height:100%;z-index:1000;background:url("/css/img/bg.png") repeat-x 50% 50% #dfe2e4}
#loader{display:block;position:relative;left:50%;top:35%;width:150px;height:150px;margin:-75px 0 0 -75px;border-radius:50%;border:3px solid transparent;border-top-color:#3498db;-webkit-animation:spin 2s linear infinite;animation:spin 2s linear infinite;z-index:1001}
#loader:before{content:"";position:absolute;top:5px;left:5px;right:5px;bottom:5px;border-radius:50%;border:3px solid transparent;border-top-color:#e74c3c;-webkit-animation:spin 3s linear infinite;animation:spin 3s linear infinite;}
#loader:after{content:"";position:absolute;top:15px;left:15px;right:15px;bottom:15px;border-radius:50%;border:3px solid transparent;border-top-color:#f9c922;-webkit-animation:spin 1.5s linear infinite;animation:spin 1.5s linear infinite;}
@-webkit-keyframes spin{0%{-webkit-transform:rotate(0);-ms-transform:rotate(0);transform:rotate(0);}
100%{-webkit-transform:rotate(360deg);-ms-transform:rotate(360deg);transform:rotate(360deg);}
}.loaded #loader{opacity:0;-webkit-transition:all .3s ease-out;transition:all .3s ease-out}
.loaded #loader-wrapper{visibility:hidden;-webkit-transform:translateY(100%);-ms-transform:translateY(100%);transform:translateY(100%);-webkit-transition:all .3s 1s ease-out;transition:all .3s 1s ease-out}
.no-js #loader-wrapper{display:none}
.no-js h1{color:#222}
#content{margin:0 auto;padding-bottom:50px;width:80%;max-width:978px}
#inicio{display:none}
@-moz-keyframes spin{0%{-webkit-transform:rotate(0);-ms-transform:rotate(0);transform:rotate(0);}
100%{-webkit-transform:rotate(360deg);-ms-transform:rotate(360deg);transform:rotate(360deg);}
}@-webkit-keyframes spin{0%{-webkit-transform:rotate(0);-ms-transform:rotate(0);transform:rotate(0);}
100%{-webkit-transform:rotate(360deg);-ms-transform:rotate(360deg);transform:rotate(360deg);}
}@-o-keyframes spin{0%{-webkit-transform:rotate(0);-ms-transform:rotate(0);transform:rotate(0);}
100%{-webkit-transform:rotate(360deg);-ms-transform:rotate(360deg);transform:rotate(360deg);}
}@-ms-keyframes spin{0%{-webkit-transform:rotate(0);-ms-transform:rotate(0);transform:rotate(0);}
100%{-webkit-transform:rotate(360deg);-ms-transform:rotate(360deg);transform:rotate(360deg);}
}@keyframes spin{0%{-webkit-transform:rotate(0);-ms-transform:rotate(0);transform:rotate(0);}
100%{-webkit-transform:rotate(360deg);-ms-transform:rotate(360deg);transform:rotate(360deg);}
}