body{font-size:16px;font-family:'PT Sans',sans-serif;}
body a{text-decoration:none}
body .banner_top{background:#1a1a1a;color:#fcfbf6;padding:10px;text-align:center;font-size:15px}
body .bold{font-weight:bold}
body .contenedor{width:1200px;margin:0 auto}
body img{width:100%}
body p{color:#818181}
body .menu{list-style:none;margin:0;padding:0;}
body .menu li{display:inline-block}
body .left{float:left}
body .right{float:right}
body h1,body h2,body h3,body h4{padding:0;margin:0}
#contenido{background:#fff;padding-top:20px;position:relative}
#comentarios{margin-bottom:50px;}
#comentarios h3{font-family:'Quantico',sans-serif;font-weight:normal;text-align:center;text-transform:uppercase;padding:15px}
#comentarios .ancho50{width:48%}
#comentarios .comentario{display:inline-block;margin:20px 0;}
#comentarios .comentario a{color:#000;text-decoration:underline}
#comentarios .comentario .titulo_comentario{font-family:'Quantico',sans-serif;font-weight:normal}
#comentarios .comentario .imageuser{width:100px;display:inline-block;border:2px solid #ddd;border-radius:50px;line-height:15px;}
#comentarios .comentario .imageuser img{border-radius:50px}
#comentarios .comentario .cuerpo_coment{width:70%;display:inline-block;}
#comentarios .comentario .cuerpo_coment p{font-size:14px;margin:5px 0}
#comentarios .comentario .username span{color:#bbb}
#comentarios .comentario .estrellas{color:#facc2e}
header #menu_top{background:rgba(255,255,255,0.75);overflow:hidden;text-transform:uppercase;color:#777;}
header #menu_top a{color:#777}
header #menu_top li{padding:10px 5px;font-size:14px}
header #menu_principal{background-color:rgba(0,0,0,0.7);color:#fff;overflow:hidden;}
header #menu_principal a{color:#fff;padding:25px 20px;display:inline-block;text-transform:uppercase}
header #menu_principal .logo{padding:10px 20px 0;cursor:pointer;font-size:40px;font-family:'Great Vibes',cursive;margin:10px;font-weight:normal}
header #menu_principal .menu{margin-right:50px}
header #slider_home{height:500px;overflow:hidden;width:100%;}
header #slider_home .slide{position:absolute;width:100%;top:0;z-index:-1}
.inicio #menu_principal{position:absolute;top:130px;width:100%;border-bottom:3px solid #fff;}
.inicio #menu_principal li a{padding:30px 20px}
#home .landing{position:relative;height:1200px;}
#home .landing .titulo{font-family:'Quantico',sans-serif;text-transform:uppercase;position:absolute;right:5%;}
#home .landing .titulo .sub{font-size:20px}
#home .landing .titulo .bold{font-size:40px;line-height:20px}
#home .landing .cuadro_titulo{text-transform:uppercase;background:#fff;position:absolute;z-index:10;width:300px;top:400px;left:40%;}
#home .landing .cuadro_titulo .marco{margin:10px;padding:80px 10px;text-align:center;border:4px solid #000;}
#home .landing .cuadro_titulo .marco span{text-decoration:underline}
#home .landing .cuadro_titulo .marco .marca{font-size:30px;text-decoration:none;font-family:'Quantico',sans-serif}
#home .landing .producto{display:none;position:absolute;width:300px;}
#home .landing .producto.imagen_foto .marco{position:relative;color:#fff;}
#home .landing .producto.imagen_foto .marco .datos{position:absolute;text-transform:uppercase;}
#home .landing .producto.imagen_foto .marco .datos .nombre{font-weight:bold}
#home .landing .producto.imagen_foto .marco .datos .coleccion{font-size:12px}
#home .landing .producto.imagen_foto .marco .datos .precio{font-weight:bold}
#home .landing .producto.imagen_foto .marco .negro{color:#000}
#home .landing .producto.imagen_foto .marco .blanco{color:#fff}
#home .landing .producto.imagen_foto .marco .top{top:5px}
#home .landing .producto.imagen_foto .marco .aling_left{left:10px}
#home .landing .producto.imagen_foto .marco .aling_right{right:10px}
#home .landing .produ1{left:22%;width:360px;display:block}
#home .landing .produ2{right:25%;top:125px;display:block}
#home .landing .produ3{width:210px;right:5%;top:160px;display:block}
#home .landing .produ4{top:250px;left:5%;display:block;width:500px}
#home .landing .produ5{display:block;top:470px;left:15%}
#home .landing .produ6{width:340px;top:500px;right:10%;display:block}
#home .landing .produ7{top:620px;left:36%;display:block}
#home .landing .produ8{display:block;left:10%;top:780px}
#home .landing .produ9{top:890px;right:10%;display:block}
footer{overflow:hidden;background:#fff;}
footer .footer-inferior{overflow:hidden;background:#333;padding:5px 0;}
footer .footer-inferior a{color:#fff;font-size:11px;text-transform:uppercase;font-weight:600;text-shadow:1px 1px 0 #000}
footer .footer-inferior .letra1{color:#bbb;font-size:12px}
#subscripcion{background:url("https://s3-us-west-2.amazonaws.com/lovizfront/img/bg_suscriptio.jpg") no-repeat fixed;background-position:center center;min-height:330px;position:relative;text-align:center;background-size:cover;background-attachment:fixed;}
#subscripcion .capa_superior{background:rgba(0,0,0,0.3);width:100%;height:100%;position:absolute;}
#subscripcion .capa_superior .formu_suscription{margin:100px 0;font-size:30px;}
#subscripcion .capa_superior .formu_suscription h4{color:#fff;font-weight:normal;text-transform:uppercase;font-family:'Quantico',sans-serif}
#subscripcion .capa_superior .formu_suscription input{border:none;padding:5px;font-family:serif;width:480px;font-style:italic}
#subscripcion .capa_superior .formu_suscription button{font-family:'Quantico',sans-serif;text-transform:uppercase;background:#000;color:#fff;font-size:25px;border:none;padding:4px}
