<!DOCTYPE html>
<html class="no-js"> 
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Loviz DelCarpio :: Zapatos, Moda, Pantuflas, Personalizala el regalo perfecto</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href='//fonts.googleapis.com/css?family=Raleway:400,600,700,800' rel='stylesheet' type='text/css'>
    	  <link rel="shortcut icon" href="/css/img/logodelcarpio2_1.ico" />
        <link rel="stylesheet" href="/css/normalize.css">
        <link rel="stylesheet" href="/css/iconos.css">
        <link rel="stylesheet" href="/css/main.css">
        <script src="/js/vendor/modernizr.js"></script>
    </head>
    <body>
        <header id='header'>
            <div class="contenedor">
                <div class="logo enlinea">
                    <h1>Loviz DelCarpio</h1>
                </div>
                <nav id="menu_header" class="menu-principal enlinea">
                    <ul class="menu">
                        <li data-url="tienda">
                            <span class="marquito">
                                <a class="link" href="/tienda/">Tienda</a>                                
                            </span>
                        </li>
                        <li data-url="custom">
                            <span class="marquito">
                                <a class="link" href="/custom/">Personalizado</a>                                
                            </span>
                        </li>
                        <li data-url="sobre">
                            <span class="marquito">
                                <a class="link" href="/sobre-loviz/">Nuestra Historia</a>                                
                            </span>
                        </li>
                        <li data-url="blog">
                            <span class="marquito">
                                <a class="link" href="/blog/">Blog</a>                                
                            </span>
                        </li>
                        <li data-url="faq">
                            <span class="marquito">
                                <a class="link" href="/faq/">FAQ</a>                                
                            </span>
                        </li>
                    </ul>
                </nav>
                <div class="links-principales enlinea right">
                    <ul class="menu iconos-left">
                        <li id="mini_carrito" class="carrito">                                
                        </li>
                        <li class="login">
                            <a class="link" href="/mi_cuenta/">
                                <span class="icon-head"></span>                                    
                            </a>
                        </li>
                        <li class="idioma">
                            <span>ES</span>
                        </li>
                    </ul>
                </div>
            </div>
        </header>
        <section id="contenido">
            <div id="fondo-page"></div>
            <div id="minilinea">
            </div>
            <div class="overlayverde"></div>
            <div id="capaPage">
                <div class="page">
                    <div class="marco_page">
                        <div id="area_user"></div>
                        <div id="carro_compra"></div>
                    </div>                            
                </div>
            </div>
            <div id="loader-wrapper"></div>
            <div id="inicio"></div>
            <div id="tienda" >                      
                <ul id="productos"></ul>
                <div id="filtros_productos" class="footer-holder">
                </div>
            </div>
            <div id="producto_single">
            </div>
            <div id="custom"></div>
        </section>
        <footer id="footer">
            <div class="contenedor">
                <div class="footer">
                    <div class="left">
                        <span class="letra1">© 2014 LOVIZ DELCARPIO - TODOS LOS DERECHOS RESERVADOS</span>                        
                    </div>
                    <div class="right">
                        <ul class="menu">
                            <li><a href="#">Contacto</a></li>
                            <li><a href="#">Ayuda</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
















        <!--Templates de scripts-->
        <script id="loader_template" type="text/template">
            <div class="titulo">
                <h2>{{titulo}}...</h2>
            </div>
            <div class="bag-loader"></div>
            <div id="loader"></div>
        </script>

        <script id="home_slider_theme" type="text/template">
            <div class="prueba">
                <img src="{{imagen}}" alt="">
            </div>
        </script>

        <script id="perfil_template" type="text/template">
            <h2 class="titulo_page text-aling-left">
                <span class="icon-head"></span>
                Mi Cuenta
                <button class="right salir_cuenta">Salir</button>
            </h2>
            <p class="bienvenida">Hola {{email}}, estas en el area de usaurio de LovizDelCarpio.com!</p>
        </script>

        <script id="loagearse_template" type="text/template">
            <h2 class="titulo_page">Identificarse o crear una cuenta</h2>
            <div class="crear_cuenta enlinea cajalogin">
                <h3>Nuevo Cliente</h3>
                <p>Al crear una cuenta en LovizdelCarpio.com tu proceso de compra es más rápido porque tus datos ya están registrados en nuestra tienda, además podrás hacer un seguimiento de tus pedidos y estar informado de las últimas novedades.</p>
                <button>Crear Cuenta</button>
            </div>
            <div class="logearse enlinea cajalogin">
                <h3>Clientes Registrados</h3>
                <p>Si usted tiene una cuenta con nosotros, por favor acceda.</p>
                <div class="formulario_login">
                    <form id="formu_login" method="post">
                        <p>
                            <label for="Email">Email*</label>
                            <input type="text" name="email">
                        </p>
                        <p>
                            <label for="Password">Contraseña*</label>
                            <input type="password" name="password">    
                        </p>
                        <div class="botones">
                            <a href="/pass_olvidado/">¿Has olvidado su contraseña?</a>
                            <input type="submit" class="login-acceder" value="Acceder">
                        </div>    
                    </form>                                            
                </div>
            </div>
        </script>

        <script id="mini_carrito_template" type="text/template">
            <a class="link {% if lineas %}activo{%endif%}" href="/carrito/">
                <span class="icon-cart"></span>
                <span class="num-cart">{{lineas}}</span>
            </a>            
        </script>

        <script id="mini_linea_template" type="text/template">
            <figure class="thum_mini_linea">
                <img src="{{thum}}" alt="{{nombre}}">
            </figure>
            <div class="nombre_mini_linea">
                <h4>{{nombre}}</h4>
                <p>Añadido al carrito</p>
            </div>
        </script>

        <script id="linea_template" type="text/template">
            <td width="100px" class="linea-img">
                <figure>
                    <img src="{{thum}}" alt="{{nombre}}">
                </figure>    
            </td>
            <td class="linea-nombre">
                {{nombre}}
            </td>
            <td class="linea-talla">
                {{talla}}
            </td>
            <td class="linea-precio">S/.{{precio}}</td>
            <td width="20px" class="linea-cantidad">
                <input type="text" name='cantidad-linea' value="{{cantidad}}" width="5">
            </td>
            <td class="linea-subtotal">S/.{{subtotal}}</td>
            <td class="linea-accion"><span class="icon-cross"></span></td>
        </script>

        <script id="carro_template" type="text/template">
            <h2 class="titulo_page text-aling-left">
                <span class="icon-cart3"></span>
                Mi Carrito de compras
                <button class="right comprar_ya siempre_lleno">Realizar Pedido</button>
            </h2>
            <p id="cant_productos"></p>
            <div id="cuerpo_lineas" class="siempre_lleno">
                <table class="lineas-carro">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Ref. de producto</th>
                            <th>talla</th>
                            <th>Precio</th>
                            <th>Cantidad</th>
                            <th>subtotal</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody id="lineas_carro_cuerpo" class="cuerpo_lineas_lista">
                    </tbody>
                </table>
            </div>
            <div id="carro_info"></div>
            <div class="pie_carro">
                <button class="seguir_comprando siempre_lleno">Seguir Comprando</button>
                <button class="right comprar_ya siempre_lleno">Realizar Pedido</button>
            </div>
        </script>

        <script id="carro_num_template" type="text/template">
            Existen <strong>{{lineas}} productos</strong> en el carrito de compra por el momento
        </script>

        <script id="informacion_de_carro_template" type="text/template">
            <table class="info right">
                <tr>
                    <td class="etiqueta">Subtotal</td>
                    <td>S/.{{subtotal}}</td>
                </tr>
                <tr>
                    <td class="etiqueta">Envio</td>
                    <td>S/.{{envio}}</td>
                </tr>
                <tr class="total">
                    <td class="etiqueta">Total</td>
                    <td>S/.{{total}}</td>
                </tr>                
            </table>
            <div class="clear"></div>
        </script>

        <script id="carro_vacio_template" type="text/template">
            <button class="right">Seguir Comprando</button>
        </script>

        <script id="producto_filtros_template" type="text/template">
            <div class="contenedor">
                <div id="producto-filter">
                    <div id="type-selection" class="filter-field">
                        <div class="text-over">Seleccione Categoria</div>
                        <div class="selected">Calzado</div>
                        <div class="widget-selector">
                            <span class="icon-triangle-up"></span>
                        </div>
                        <div class="seccion-orientacion">
                            <div class="cuadro-orientacion">
                                Usa los filtros para encontrar justo lo que quier
                            </div>
                        </div>
                        <div class="todos-filtros">
                            <div class="contenedor">
                                <div class="titulo-opcion">
                                    <div class="opcion">Calzado</div>                                    
                                </div>
                                <div class="opcion-valor primero">
                                    <div class="flecha"></div>
                                    <div class="opcion">
                                        <a class="link" href="/catalogo/pantuflas/">Pantuflas</a>                                        
                                    </div>
                                </div>

                            </div>                            
                        </div>
                    </div>
                    <div id="model-selection" class="filter-field">
                        <div class="title">Modelo</div>
                        <div class="selected gray">Todos</div>
                        <div class="widget-selector">
                            <span class="icon-triangle-up"></span>
                        </div>
                    </div>
                    <div id="color-selection" class="filter-field">
                        <div class="title">Color</div>
                        <div class="selected gray">Todos</div>
                        <div class="widget-selector">
                            <span class="icon-triangle-up"></span>
                        </div>
                    </div>
                    <div id="size-selection" class="filter-field">
                        <div class="title">Tamaño</div>
                        <div class="selected gray">Todos</div>
                        <div class="widget-selector">
                            <span class="icon-triangle-up"></span>
                        </div>
                    </div>
                    <div id="price-selection" class="filter-field">
                        <div class="title">Precio</div>
                        <div class="selected gray">Todos</div>
                        <div class="widget-selector">
                            <span class="icon-triangle-up"></span>
                        </div>
                    </div>
                </div>
            </div>
        </script>

        <script id="producto_catalogo_template" type="text/template">
           <a class="enlace_producto" data-id="{{id}}" href="/tienda/{{slug}}_{{id}}/">
                <figure class="img_producto">
                    <img src="{{thum}}" alt="" class="">
                </figure>
                <div class="producto_name">
                    <h3>{{categoria}} {{estilo}}</h3>
                    <h4>{{nombre}} {{color}}</h4>
                </div>
                <div class="producto_precio">
                    {%if en_oferta %}
                    <div class="old_precio enlinea">
                        <span class="moneda">S/.</span>
                        <span class="cantidad">{{precio}}</span>
                    </div>
                    {% endif %}
                    <div class="precio enlinea">
                        <span class="moneda">S/.</span>                                                 
                        <span class="cantidad">{{precio_venta}}</span>
                    </div>                                              
                </div>
            </a>
        </script>

        <script id="produto_single_theme" type="text/template">
            <div class="formulario_producto">
                <input type="number" name="cantidad" min="1" max="5" value='1'>
                <input type="number" name="variacion">                
                <input type="number" name="producto" value="{{id}}">                
            </div>
            <div class="marco_producto">
                <figure class="imagen_principal enlinea">
                    <img src="{{imagen_p}}" alt="{{full_name}} - {{marca}}">
                </figure>
                <div class="descripcion enlinea">
                    <div class="cerrar_producto">
                        <span class="icon-cross"></span>
                    </div>
                    <h2>{{full_name}}</h2>
                    <h3>{{marca}}</h3>
                    <p>{{descripcion}}</p>
                    <div class="colores">
                        <strong>Colores Disponibles</strong>
                        <ul class="lista-colores">
                            <li>
                                <a class="nolink" href="/tienda/{{slug}}_{{id}}/">
                                    <img src="{{thum}}" alt="{{full_name}}">
                                </a>
                            </li>
                            {%for pariente in parientes%}
                            <li>
                                <a class="link" href="/tienda/{{pariente.slug}}_{{pariente.id}}/">
                                    <img src="{{pariente.thum}}" alt="{{pariente.full_name}}">
                                </a>
                            </li>
                            {%endfor%}
                        </ul>
                    </div>
                </div>
            </div>
            
            <div class="footer-holder">
                <div class="contenedor">
                    <div class="producto-basket">
                        <div class="filter-field titulo_precio">
                            <h2 class="nombre_produto">{{full_name}}</h2>
                            {%for varia in variaciones%}                   
                            <div class="precio {%if loop.first %}visible{%endif%} {{varia.id}}" data-variacion="{{varia.id}}">
                                {%if varia.oferta != 0 %}
                                <div class="precio-old">
                                    <div class="moneda">S/.</div>
                                    <div class="cantidad_precio">{{varia.precio_minorista}}</div>    
                                </div>
                                {%endif%}
                                <div class="precio-mostrar">
                                    <div class="moneda">S/.</div>
                                    <div class="cantidad_precio">{{varia.precio_venta}}</div>    
                                </div>                                
                            </div>                            
                            {%endfor%}
                        </div>
                        <div class="filter-field talla">
                            <div class="olvido">
                                No olvide seleccionar una talla
                            </div>
                            <div class="footer-contenido talla_contenido">
                                <div class="conte">
                                    {%for varia in variaciones %}
                                    <div class="option-value" data-variacion='{{varia.id}}' data-talla='{{varia.talla}}'>
                                        <span>{{varia.talla}}</span>
                                    </div>
                                    {%endfor%}
                                </div>
                                <div class="pin-selection">
                                    <span class="icon-triangle-up"></span>
                                </div>
                            </div>

                            <div class="title">Talla</div>
                            <div class="selected">-</div>
                            <div class="widget-selector">
                                <span class="icon-triangle-up"></span>
                            </div>
                        </div>
                        <div class="filter-field cantidad">
                            <div class="footer-contenido cantidad_contenido">
                                <div class="conte">
                                    <div class="option-value" data-cantidad='1'><span>1</span></div>
                                    <div class="option-value" data-cantidad='2'><span>2</span></div>
                                    <div class="option-value" data-cantidad='3'><span>3</span></div>
                                    <div class="option-value" data-cantidad='4'><span>4</span></div>
                                    <div class="option-value" data-cantidad='5'><span>5</span></div>
                                </div>
                                <div class="pin-selection">
                                    <span class="icon-triangle-up"></span>
                                </div>
                            </div>
                            <div class="title">Cantidad</div>
                            <div class="selected">1</div>
                            <div class="widget-selector">
                                <span class="icon-triangle-up"></span>
                            </div>
                        </div>
                        <div class="filter-field add-to-cart">
                            <span class="icon-cart3"></span>
                            <div class="title">Agregar al Carro</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="back-tienda">
                <div class="back-to-text">
                    Volver a Productos
                </div>
                <div class="grilla-menu">
                    <span class="icon-th"></span>
                </div>
            </div>
            <div class="secciones_producto">
                <div class="up caja flechita">
                    <span class="icon-arrow-up"></span>
                </div>
                <div class="info caja">
                    1/2
                </div>
                <div class="dow caja flechita">
                    <span class="icon-arrow-down"></span>
                </div>
            </div>
            <div class="galeria_producto">
                
            </div>
        </script>


        <script>
          if(window.location.host === 'lovizdelcarpio.com'){
              (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
              (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
              m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
              })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

              ga('create', 'UA-42431013-1', 'auto');
              ga('send', 'pageview');  
          }          
        </script>

        <!--Fin de los Templates-->

        <script src="/js/vendor/jquery-1.11.1.js"></script>
        <script src="/js/vendor/underscore.js"></script>
	    <script src="/js/vendor/swig.js"></script>	
        <script src="/js/vendor/backbone-min.js"></script>
        
        <script src="/js/vendor/jquery.cookie.js"></script>
        <script src="/js/vendor/jquery.storageapi.min.js"></script>

        <script src="/js/init.js"></script>      

        <script src="/js/backbone/models/productolista.js"></script>
        <script src="/js/backbone/models/carroModel.js"></script>
        <script src="/js/backbone/models/prod_single.js"></script>
        <script src="/js/backbone/models/loader_model.js"></script>
        <script src="/js/backbone/models/linea.js"></script>
        <script src="/js/backbone/models/perfil.js"></script>
        <script src="/js/backbone/models/home_slider_model.js"></script>
        <script src="/js/backbone/models/producto.js"></script>

        <script src="/js/backbone/collections/producto_lista.js"></script> 
        <script src="/js/backbone/collections/lineas.js"></script> 
        <script src="/js/backbone/collections/catalogo.js"></script> 

        <script src="/js/backbone/views/tienda.js"></script>
        <script src="/js/backbone/views/productoslista.js"></script>
        <script src="/js/backbone/views/producto_lista.js"></script>
        <script src="/js/backbone/views/producto_single.js"></script>
        <script src="/js/backbone/views/producto_filter.js"></script>
        <script src="/js/backbone/views/filtro.js"></script>
        <script src="/js/backbone/views/loader_view.js"></script>
        <script src="/js/backbone/views/home_slider_view.js"></script>
        <script src="/js/backbone/views/perfil.js"></script>
        <script src="/js/backbone/views/carro.js"></script>
        <script src="/js/backbone/views/carro_compras.js"></script>
        <script src="/js/backbone/views/carro_informacion.js"></script>
        <script src="/js/backbone/views/carro_num.js"></script>
        <script src="/js/backbone/views/lineas.js"></script>
        <script src="/js/backbone/views/linea.js"></script>
        <script src="/js/backbone/views/mini_linea.js"></script>
        <script src="/js/backbone/views/catalogo.js"></script>
        <script src="/js/backbone/views/producto.js"></script>

        <script src="/js/backbone/routers/base.js"></script>
	    
        <script src="/js/main.js"></script>
    </body>
</html>
